<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Task</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<section class="main-section">
    <div class="form-sections">
        <div class="form-section client-details-wrapper">
            <h2>Client Details</h2>
            <div class="items-in-one-line">
                <input name="firstName" placeholder="First name" type="text" required>
                <input name="lastName" placeholder="Last name" type="text" required>
            </div>
            <input name="Phone" type="tel" placeholder="Phone">
            <input type="email" name = "Email" placeholder="Email (optional)">
        </div>
        <div class="form-section job-details-wrapper">
            <h2>Job Details</h2>
            <div class="items-in-one-line">
                <select id="Job type" name="Job type">
                    <option value="">Select a job type</option>
                    <option value="remote">Remote</option>
                    <option value="offline">Offline</option>

                </select>
                <select id="Job source" name="Job source">
                    <option value="">Select a job source</option>
                    <option value="indeed">Indeed Jobs</option>
                    <option value="library">CV Library</option>
                </select>
            </div>
            <input class="job-description-input" name="Job description"
                   placeholder="Job description (optional)">
        </div>
        <div class="form-section service-location">
            <h2>Service location</h2>
            <input type="text" name="Address" placeholder="Address" required>
            <input type="text" name='City/town/village/locality of Address' placeholder="City" required>
            <input type="text" name='State/county of Address' placeholder="State" required>
            <div class="items-in-one-line">
                <input type="text" id="zip-code" name='ZIP/Postal code of Address' placeholder="Zip code" required>
                <select id="area" name="Area">
                    <option value="">Select an area</option>
                    <option value="area1">area 1</option>
                    <option value="area2">area 2</option>

                </select>
            </div>
        </div>
        <div class="form-section scheduled">
            <h2>Scheduled</h2>
            <input type="date" id="start-date" name="Job date" placeholder="Start date">
            <div class="items-in-one-line">
                <input type="time" name="Job start time" placeholder="Start time">
                <input type="time" name="Job end time" placeholder="End time">
            </div>
            <select name="Test select">
                <option value="">Test select</option>
                <option value="opt1">Option1</option>
                <option value="opt2">Option2</option>
            </select>
        </div>
    </div>
    <div class="btn_wrapper">
        <button class="button">Create job</button>
    </div>
</section>
<script src="script.js"></script>
</body>
</html>